NEXT_PUBLIC_API_URL=/api
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
RESEND_API_KEY=
# Recommended for most uses

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
# For uses requiring a connection without pgbouncer
# Recommended for most uses
DATABASE_URL=
DIRECT_URL=
